## Problem 2a - Data manipulation (5 points)

Similarly as in earlier exercises the temperatures in our data are represented in Fahrenheit, hence,
you need to convert the temperatures into Celsius.


First, read again  the data from '6153237444115dat.csv' into a varaible `data` (you can copy your code from problem 1 here):

In [1]:
# Import pandas and read in data from csv

# YOUR CODE HERE
# raise NotImplementedError()

# import module require
import pandas as pd 

df = pd.read_csv(r"C:\Users\Gustavocolmenares\Documents\SchoolStaff\GIS_PCC\Courses_Training\Geo_python_Course\exercise_5\Pandas\6153237444115dat.csv")
df.head()

,USAF,WBAN,YR--MODAHRMN,DIR,SPD,GUS,CLG,SKC,L,M,...,SLP,ALT,STP,MAX,MIN,PCP01,PCP06,PCP24,PCPXX,SD
0,28450,99999,201705010000,174,10,14,***,***,*,*,...,1009.2,*****,984.1,***,***,*****,*****,*****,*****,35
1,28450,99999,201705010020,180,10,***,4,***,*,*,...,******,29.74,******,***,***,*****,*****,*****,*****,**
2,28450,99999,201705010050,190,10,***,4,***,*,*,...,******,29.74,******,***,***,*****,*****,*****,*****,**
3,28450,99999,201705010100,188,12,16,***,***,*,*,...,1009.1,*****,984.0,***,***,*****,*****,*****,*****,35
4,28450,99999,201705010120,200,13,***,2,OBS,*,*,...,******,29.74,******,***,***,*****,*****,*****,*****,**

**Subset data and remove no data values** (2 points)

In the codeblock below:
 - Create a new variable `selected`
 - Select from the `data` columns `USAF, YR--MODAHRMN, TEMP, MAX, MIN` and assign them into the new variable `selected`
 - Remove all rows from `selected` that has NoData in column `TEMP` using the `dropna()` -function

In [2]:
# YOUR CODE HERE
# raise NotImplementedError()
selected = df[['USAF', 'YR--MODAHRMN', 'TEMP', 'MAX', 'MIN']]

# Use dropna(subset=<['column_name']> or <[column_index]>) function
selected = selected.dropna(subset=['TEMP'])

In [29]:
# Check your dataframe (for example using the head() and len() -functions)

In [3]:
print(selected.head())
print(len(selected))

    USAF  YR--MODAHRMN TEMP  MAX  MIN
0  28450  201705010000   31  ***  ***
1  28450  201705010020   30  ***  ***
2  28450  201705010050   30  ***  ***
3  28450  201705010100   31  ***  ***
4  28450  201705010120   30  ***  ***
11694

**Convert fahrenheit to celsius** (2 points)
- Create a new column `Celsius`
- Convert the Fahrenheit temperatures from `TEMP` using the conversion formula (below) and store the results in the new `Celsius`column.
 ![formula](img/Fahrenheit_to_Celsius_formula.PNG)
 - Round the values in the `Celsius` column to have 0 decimals (**don't** create a new column --> update the current one)
 - Convert the `Celsius` values into integers (**don't** create a new column --> update the current one)

In [8]:
# YOUR CODE HERE
# raise NotImplementedError()
selected['TEMP'] = selected['TEMP'].replace('\*', '0', regex =True).astype(int)
# convert fahrenheit degrees into Celsius degrees 
selected['Celsius'] = ((selected['TEMP']-32)/1.8).astype(int)

In [9]:
# Check your dataframe
selected.head()

    USAF  YR--MODAHRMN  TEMP  MAX  MIN  Celsius
0  28450  201705010000    31  ***  ***        0
1  28450  201705010020    30  ***  ***       -1
2  28450  201705010050    30  ***  ***       -1
3  28450  201705010100    31  ***  ***        0
4  28450  201705010120    30  ***  ***       -1

**Finalize your submission for Problem 2a** (1 point)
- Check that you have commented your code (add inline comments explaining what your code does)
- At this point, commit and push your changes to GitHub
- Was anything unclear to you until this point? Write your comments to the cell below.

YOUR ANSWER HERE


## Problem 2b - Data selection (5 points)

In this problem you should divide the data into separate subsets for different stations and save those DataFrames into csv files.

**Divide the selection into two separate datasets:** (2 points)
  - Select all rows from `selected` DataFrame into variable called `kumpula` where the `USAF` code is `29980`
  - Select all rows from `selected` DataFrame into variable called `rovaniemi` where the `USAF` code is `28450`
  
Please use the given variable names and write your answer to the codeblock below.

In [21]:
# YOUR CODE HERE
# raise NotImplementedError()
kumpula = selected.loc[selected['USAF']== 29980]
rovaniemi = selected.loc[selected['USAF'] == 28450]

In [22]:
# Check the dataframes (you don't need to modify this cell)
print("Kumpula: \n", kumpula.head(), "\n")
print("Rovaniemi: \n", rovaniemi.head(), "\n")

Kumpula:
        USAF  YR--MODAHRMN  TEMP  MAX  MIN  Celsius
8770  29980  201705010000    37  ***  ***        2
8771  29980  201705010100    37  ***  ***        2
8772  29980  201705010200    37  ***  ***        2
8773  29980  201705010300    37  ***  ***        2
8774  29980  201705010400    39  ***  ***        3

Rovaniemi:
     USAF  YR--MODAHRMN  TEMP  MAX  MIN  Celsius
0  28450  201705010000    31  ***  ***        0
1  28450  201705010020    30  ***  ***       -1
2  28450  201705010050    30  ***  ***       -1
3  28450  201705010100    31  ***  ***        0
4  28450  201705010120    30  ***  ***       -1

**Save selections to csv files** (2points)
- Save `kumpula` DataFrame into `Kumpula_temps_May_Aug_2017.csv` file (CSV format) 
   - separate the columns with  comma (`,`)
   - use only 2 decimals in the floating point numbers
- Save `rovaniemi` DataFrame into `Rovaniemi_temps_May_Aug_2017.csv` file (CSV format) 
   - separate the columns with comma (`,`)
   - use only 2 decimals in the floating point numbers

In [24]:
# YOUR CODE HERE
# raise NotImplementedError()

# Use to_csv to save the DataFrame in a csv file.

# Create a variable that contain the name of the [New CSV] file.
output_k = 'Kumpula_temps_May_Aug_2017.csv'
output_r = 'Rovaniemi_temps_May_Aug_2017.csv'

# Save the DataFrame to csv file using: <dataframe>.to_csv(<path_of_New_file>,sep=',',index=False , float_format= '%.1f')
# sep=',' is the delimiter for the output
# index= False is for the dataset not have a new index value column that is not necessary
# float_format = '%.1f' to determine the number of decimals in any column with float values
kumpula.to_csv(output_k, sep=',', index=False, float_format= '%.1f') 
rovaniemi.to_csv(output_r, sep= ',', index=False, float_format= '%.1f')

**Commit and push changes (including the 2 csv files!) into your GitHub repository for Exercise 5** (1 point)

Did you encounter any problems with decimal formatting?

YOUR ANSWER HERE

Now you can continue to [problem 3: Data analysis](Exercise-5-problem3.ipynb)